<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'message_wolof/data.css' %}" />
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <a class="link_1" href="{% url 'home' %}">Home</a>
            <a class="link_2" href="{% url 'data' %}">Data</a>
            <a class="link_3" href="{% url 'ia' %}">Intelligence atificielle</a>
        </div>
    </header>

    <section>
        <div class="sec1">
            {% for message in messages%}
                <div class="sec2">
                    <p class="message">
                        {{message.message}}
                    </p>
        
                    <p class="emotion">
                        {{message.emotion}}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>