{% extends "_base.html" %}

{% block content %}

<section class="sec">

    <div class="flex flex-col flex-1 gap-8">
        <h1 class="text-4xl font-bold">WOLOF IA</h1>
        <p class=" text-xl">
        Ceci c’est une plateforme web qui vous permettra de contribuer à un projet sur l’intelligence artificielle. </br></br>
        Le projet consiste à écrire des milliers de messages en langue wolof sur des événements marquant dont les émotions sont soit positif ou négatif, 
        ces messages seront ensuite stockés et extrait depuis une base de donnée afin de former une intelligence artificielle à comprendre les messages 
        en wolof et qu’il puisse déterminer si le message dégage un sentiment positif ou négatif.
        </p>
        <div>
            <a href="{% url 'ia' %}">
                <button
                    class="text-white font-bold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg text-xl px-8 py-3 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                >Tester l'IA</button>
            </a>
        </div>
    </div>

    <div class="flex-1">
    <form method="post" class="flex flex-col gap-6">
        {%csrf_token%}

        {{ form.non_field_errors }}
        <div class="">
            <p>{{error}}</p>
            {{ form.subject.errors }}
            <label for="{{ form.message.id_for_label }}" 
                class="block mb-2 text-md font-medium text-white-900 dark:text-white-400">
                Entrez un message sur un événement:
            </label>
            <textarea name="message" id="id_message" rows="8" 
                class="outline-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Veillez entrer message uniquement en wolof"
                required minlength="6"
                /></textarea>
        </div>
        <div class="">
            {{ form.emotion.errors }}
            <label for="{{ form.emotion.id_for_label }}" class="block mb-2 text-md font-medium text-white dark:text-white">Préciser l'émotion ressentie</label>
            <select name="emotion" required id="id_emotion"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
                <option value="" selected>Neutre</option>
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>  
            </select>
        </div>

        <div>
        <input 
            class="text-white font-bold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            type="submit" 
            value="Envoyer">
        </div>
    </form>
    </div>
</section>

{% endblock content %}