<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  type="text/css" href="{% static 'message_wolof/home.css' %}" />
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <a class="link_1" href="{% url 'home' %}">Home</a>
            <a class="link_2" href="{% url 'data' %}">Data</a>
            <a class="link_3" href="{% url 'ia' %}">Intelligence atificielle</a>
        </div>
    </header>

    <section>

        <div class="text">
            <h1>Salut👋 et bienvenu(e)</h1>

            ceci c’est une plateforme web qui vous permettra de contribuer à un projet sur l’intelligence artificielle. </br>
            Le projet consiste à écrire des milliers de messages en langue wolof sur des événements marquant dont les émotions sont soit positif ou négatif, 
            ces messages seront ensuite stockés et extrait dans une base de donnée afin de le former une intelligence artificielle à comprendre les messages 
            en wolof et qu’il puisse déterminer si le message dégage un sentiment positif ou négatif.
            </br>A la fin du développement de l’intelligence artificielle vous pourrez le tester en lui écrivant un message et dont il va déterminer si votre message dégage une 
            émotion positive ou négative.
            </br> </br>
            Votre rôle dans ce projet est d'écrire un ou plusieurs messages en wolof sur un événement dont vous avez vécu et vous devez préciser votre sentiment envers ce message (positif ou négatif). </br>
            Si vous êtes développeur et vous voudriez contribuer au projet en ajoutant d’autre fonctionnalités ou vous avez une idée qui serait bien à implémenter sur ce projet cliquer <a class="link_4" href="https://github.com/Dar-rius/message_wolof">ici</a>

        </div>

        <form method="post">
            {%csrf_token%}

            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.subject.errors }}
                <label for="{{ form.message.id_for_label }}">Entrez un message sur un événement:</label></br></br>
                <span class="input">{{ form.message }}</span>
            </div></br>
            <div class="fieldWrapper">
                {{ form.emotion.errors }}
                <label for="{{ form.emotion.id_for_label }}">Préciser l'émotion ressentie</label></br></br>
                {{ form.emotion }}
            </div></br></br>

            <input class="bouton" type="submit" value="Envoyer">
        </form>
    </section>
</body>
</html>