{% extends "_base.html"%}

{% block content %}

    <section class="data">
        <table class="dark:bg-gray-800">
            <thead class="bg-blue-700">
                <tr class="head">
                    <th>Phrase</th>
                    <th>Sentiment</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages%}
                <tr>
                    <td>{{message.message}}</td>
                    <td>{{message.emotion}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock content %}