{% extends "_base.html" %}

{% block content %}

<section class="">

    <div class="flex flex-col flex-1 gap-8">
        <h3 class="text-4xl font-bold">Contribuer a l'evolution de l'IA</h3>
        <p class=" text-xl">Reponse de l'IA: {{prediction}}</p>
    </div>

    <div class="flex-1">
    <form method="post" class="flex flex-col gap-6">
        {%csrf_token%}

        {{ form.non_field_errors }}
        <div class="">
            {{ form.subject.errors }}
            <label for="{{ form.sentence.id_for_label }}" 
                class="block mb-2 text-md font-medium text-white-900 dark:text-white-400">
                Entrez un message sur un événement:
            </label>
            <textarea name="sentence" id="id_message" rows="8" 
                class="outline-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Veillez entrer message uniquement en wolof"
                required minlength="6"
                /></textarea>
        </div>

        <div>
        <input 
            class="text-white font-bold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            type="submit" 
            value="Tester">
        </div>
        </div>
    </form>
    </div>
</section>

{% endblock content %}