{% extends "_base.html" %}

{% block content %}

<section class="sec3">

    <div class="flex flex-col flex-1 gap-8">
        <h3 class="text-4xl font-bold">Contribuer a l'evolution de l'IA</h3>
        <div class=" text-xl" id="test">
           <p>Reponse de l'IA:</p>  
           <p>{{prediction}}</p>
        </div>
    </div>

    <div class="flex-1">
    <form method="post" class="flex flex-col gap-6">
        {%csrf_token%}

        {{ form.non_field_errors }}
        <div class="">
            {{ form.subject.errors }}
            
            <textarea name="sentence" id="id_message" rows="3" 
                class="outline-none  p-2.5 w-2/4 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="Veillez entrer message uniquement en wolof"
                required minlength="6"
                /></textarea>
        </div>

        <div>
        <input 
            class="text-white font-bold bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-medium px-10 py-3 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            type="submit" 
            value="Tester">
        </div>
        </div>
    </form>
    </div>
</section>

{% endblock content %}