{% load static %}

<nav class="bg-blue-500 border-gray-200 px-2 sm:px-4 py-4 rounded dark:bg-gray-800">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
    <a href="/" class="flex items-center">
        <img src="{% static '/images/logo.png' %}" class="mr-3 h-6 sm:h-9" alt="Wolof IA Logo">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">WOLOF IA</span>
    </a>
    <div class="flex md:order-2">
        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 font-bold">Contribuer</button>
        <button data-collapse-toggle="navbar-default" id="mobile-menu-button" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" fill="currentColor" aria-hidden="true" viewBox="0 0 20 20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>
    </div>
    <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="navbar-default">
    <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
        <li>
        <a href="{% url 'home' %}" class="block py-2 pr-4 pl-3 text-white text-xl border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-green-300 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-white" aria-current="page">Home</a>
        </li>
        <li>
        <a href="{% url 'data' %}" class="block py-2 pr-4 pl-3 text-white text-xl border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-green-300 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-white">Messages</a>
        </li>
        <li>
        <a href="{% url 'ia' %}" class="block py-2 pr-4 pl-3 text-white text-xl border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-green-300 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-white dark:hover:text-white md:dark:hover:bg-transparent dark:border-white">Services</a>
        </li>
    </ul>
    </div>
    </div>

    <div class="hidden mobile-menu">
        <ul class="">
            <li class="active"><a href="{% url 'home' %}"  class="block text-sm px-2 py-4 text-white hover:bg-blue-700 font-semibold">Accueil</a></li>
            <li><a href="{% url 'data' %}" class="block text-sm px-2 py-4 hover:bg-blue-700 transition duration-300">Messages</a></li>
            <li><a href="{% url 'ia' %}" class="block text-sm px-2 py-4 hover:bg-blue-700 transition duration-300">Services</a></li>
        </ul>
    </div>
    <script>
        const btn = document.querySelector("#mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
</nav>

