header div{
    margin-top: 2%;
    text-align: end;
    font-size: large;
    margin-right: 2%;
}

.link_2{
    color: #e4002b;
    margin-left: 2%;
    font-size: larger;
}

.link_3{
    color: #e9bc3f;
    margin-left: 2%;
    font-size: larger;
}

.link_1{
    color: #10a2f5;
    margin-left: 2%;
    font-size: larger;
}


body{
    font-family: "Roboto Mono", monospace;
    font-size: large;
}

.sec2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6%;
    border-bottom: 1px solid #8b8b8b;
    width: 70%;

}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message{
    padding-right: 20%;
}

