@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    color: #fff;
    font-family: 'Exo 2';

    height: 100vh;
}

main{
    padding: 5rem;
    
}

nav li {
    color: #fff !important;
}

.data{
    display: flex;
    justify-content: center;
    font-size: larger;
}

table{
    color: #CCD1D1;
}

.head{
    color: white;
}


th,td {
	padding: .30em 5em;
	text-align: left;
}


.ai{
    text-align: center;
    padding-top: 15%;
    font-size: 1.7em;

}

.sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#test{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 35%;
    margin-right : 35%;
    margin-bottom: 5%;
}

#sentence{
    margin-left: 10%;
    margin-right : 10%;
}

.sec3{
    text-align: center;
    margin-top: 2%;
    
}

p{
    padding-right: 6%;
}

._error{
    font-size: larger;
    font-weight: 600;
}

@media only screen and (max-width: 900px){

    .sec{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    main{
        padding: 2%;
    }

    p{
        padding-right: 0%;
    }
}


@media only screen and (max-width: 900px){

    main .sec{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 2%;

    }

    p{
        padding-right: 0%;
    }

    body{
        font-weight: 300;
    }

    .data{
        margin-top: 10%;

    }
}


@media only screen and (max-width: 990px){

    #test{
        
        margin-left: 30%;
        margin-right : 30%;
        }
}

@media only screen and (max-width: 570px){

    
    #test{
        
        margin-left: 20%;
        margin-right : 20%;
        }
}

@media only screen and (max-width: 550px){

    .data{
        margin-right: 50%;
        margin-left: 50%;
    }

    th,td {
        padding: .30em 2em;
        text-align: left;
    }
}


@media only screen and (max-width: 500px){

    .ai{
        font-size: large;
    }
}

@media only screen and (max-width: 400px){

    .sec3{
        margin-top: 10%;
    }

}